.catalog {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: var(--color-primary);
  padding: 50px 0;
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  padding: 20px 0;
  margin: 0 auto;
}

@media (max-width: 1300px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
