.navbar {
  background-color: transparent;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* LOGO CONTAINER */
.logoContainer {
  position: absolute;
  left: 1rem;
  height: 60px;
  width: 60px;
  z-index: 1000;
}

.logo {
  border-radius: 100%;
}

/* SEARCHING SECTION */
.serching {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 15px auto 15px auto;
  border: solid 2px white;
  border-radius: 20px;
  
  width: 70%;
  z-index: 1000;
  transition: border-color 0.5s ease;
}

.serching:focus-within {
  border-color: var(--color-secondary);
}

.input {
  font-size: 1rem;
  background-color: transparent;
  padding: 5px;
  padding-left: 15px;
  width: 100%;
  border: none;
  color: white;
  z-index: 1000;
  transition: border-top 0.5s ease, border-left 0.5s ease, border-bottom 0.5s ease;
}

.input:focus {
  outline: none;
}

.searchIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: 1rem;
  background-color: var(--color-secondary);
  padding: 8px 15px;
  border-radius: 0 20px 20px 0;

  transition: background-color 0.5s ease;
  z-index: 1000;
}

 .searchIcon:hover {
  background-color: var(--color-secondary-dark);
  cursor: pointer;
  color: rgb(221, 221, 221);  
 }

/* NAVBAR */
.navList {
  display: flex;
  list-style: none;
  gap: 1rem;
  justify-content: center;
  
}

.navLink {
  position: relative;
  text-decoration: none;
  color: white;
  padding: 0rem 0.5rem;
  transition: color 0.3s ease;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.navLink:hover {
  color: var(--color-primary);
}

.icon {
  margin-left: 6px;
  font-size: 1.1rem;
}

.hamburger {
  display: none;
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 2rem;
  padding: 10px;
  color: white;
  cursor: pointer;
  transition: color .5s;
  z-index: 1000;
}

@media (max-width: 762px) {
  .hamburger {
    display: block;
  }

  .hamburger.active {
    color: var(--color-primary);
  }

  .backdrop {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background: transparent;
    z-index: 999;
  }

  .navList {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
    width: 100%;
    position: absolute;
    z-index: 1000;
    top: 100px;
    left: 0;
    align-items: center;
    font-size: 2rem;
    padding: 10px 10px 30px;

    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    pointer-events: none; 
    transition: transform 0.5s ease, opacity 0.5s ease;
    
    background: rgba(0, 0, 0, 0); 
    backdrop-filter: blur(20px);     
    -webkit-backdrop-filter: blur(6px); 
    box-shadow: 0 8px 50px rgba(0, 0, 0, 0.3);
    
    -webkit-mask-image: linear-gradient(to bottom,
      rgba(0,0,0,1) calc(100% - 20px),
      rgba(0,0,0,0) 100%);
    mask-image: linear-gradient(to bottom,
        rgba(0,0,0,1) calc(100% - 20px),
        rgba(0,0,0,0) 100%);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  .navList.open {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }

  .navLink.active {
    color: var(--color-primary);
  } 

  .searching {
    padding: 0px;
  }

  .searchIcon {
    padding: 10px 15px;
  }

  .icon {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .input {
    display: none;
  }

  .searchIcon {
    border-radius: 100%;
    padding: 10px;
    font-size: 2rem;
  }
}