.producCard {
  height: 300px;
  width: 250px;
  border: solid 1px white;
  border-radius: 10px;
  color: white;

  transition: scale 0.5s ease, background-color 0.5s ease;
  cursor: pointer;
}

.image {
  border-radius: 10px 10px 0 0;
  height: 220px;
  width: 250px;
}

.title {
  text-align: left;
  margin: 10px;
}

.price {
  text-align: right;
  margin: 0 10px;
}

.linkless {
  text-decoration: none;
}

.producCard:focus,
.producCard:hover {
  background-color: #5c84b42d;
  scale: 1.1;
}